x-common:
  image: &maven-jdk-image maven:3.8.5-openjdk-17
services:

  maven:
    image: *maven-jdk-image
    platform: linux/amd64
    working_dir: /app
    environment:
      GITHUB_ACTOR:
      GITHUB_TOKEN:
      GRAALVM_HOME: /app/.graalvm
      MAVEN_OPTS: -Xmx6400m
    volumes:
      - .:/app/
      - ${HOST_M2_REPO:-~/.m2}:/root/.m2
      - /var/run/docker.sock:/var/run/docker.sock

  local:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      VERSION: ${CIRCLE_TAG:-0.0.1}
      TEST_RESULTS_PATH: /tmp/test-results/
      DIST_PATH: /tmp/dist/
      MAVEN_OPTS: -Xmx6400m
      GRAALVM_HOME: /build/.graalvm
      PYENV_ROOT: /root/.pyenv
    volumes:
      - ./:/src/
      - ./test-results:/tmp/test-results/
      - ~/.m2:/root/.m2
