---
## This workflow implements the following jobs
## - detect on PR which libs are updated
## - build libs
## - for libs: it uses the shared ci lib workflow
##    - package the jar with unit tests
##    - run integrations tests
##    - publish the jar with github tag if event is push.tag

name: build test and publish

on:
  push:
    tags:
      - "**"
  pull_request:

permissions:
  contents: write
  pull-requests: read
  id-token: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  HOST_M2_REPO: ./root-m2

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6

      - name: Cache GraalVM Home
        uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7  # v5
        id: cache-graalvm
        with:
          path: |
            ./.graalvm
          key: ${{ runner.os }}-graalvm-${{ hashFiles('**/install_graalvm.sh') }}
          restore-keys: |
            ${{ runner.os }}-graalvm-

      - name: Cache M2 Repository
        uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7  # v5
        with:
          path: |
            ${{ env.HOST_M2_REPO }}
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
            
      - name: Package jars with tests
        run: |
          # we create the cache folder for the 1st run when action/cache won't restore it
          mkdir -p "$HOST_M2_REPO"
          make test_and_package
        env:
          GITHUB_TOKEN: ${{ secrets.VERYGOODBOT_CIAPPBUILDER_PAT }}

      - name: Upload target directory
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f  # v6
        with:
          name: maven-target
          path: "**/target/"
          retention-days: 1
          overwrite: "true"

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@a294a61c909bd8a4b563024a2faa28897fd53ebc  # v6.1.0
        if: ${{ ! cancelled() }}
        with:
          report_paths: '**/target/surefire-reports/*.xml'
          detailed_summary: true
          group_suite: true
          fail_on_failure: true
          truncate_stack_traces: false
          annotate_only: true

  build-py:
    name: Build py
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6

      - name: Infos
        id: infos
        run: |
          if [[ ${EXTRACT_SEMVER} == 'true' ]]; then
            VERSION=${TAG##*-v}  # remove everything up to and including -v
            VERSION=${VERSION#v} # remove initial v if it's just v1.2.3
          else
            VERSION=${TAG}
          fi
          
          echo "TAG=$TAG" >> $GITHUB_ENV
          echo "VERSION=$VERSION" >> $GITHUB_ENV
        env:
          EXTRACT_SEMVER: ${{ github.ref_type == 'tag' }}
          TAG: ${{ (github.ref_type == 'tag' && github.ref_name) || github.sha }}

      - name: Download target directory
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131  # v7
        with:
          name: maven-target

      - name: Run tests for pylarky
        run: |
          make py_test_and_package

      - name: Upload dist directory
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f  # v6
        with:
          name: python-target
          path: "**/dist/*.whl"
          retention-days: 1
          overwrite: "true"

  attach-assets:
    needs: [build, build-py]
    if: ${{ github.ref_type == 'tag' }}
    runs-on: ubuntu-latest
    steps:
      - name: Download java target directory
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131  # v7
        with:
          name: maven-target

      - name: Download python target directory
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131  # v7
        with:
          name: python-target

      - name: Add version to distribution
        run: |
          mv runlarky/target/larky-linux runlarky/target/larky-${VERSION}-linux

      - name: Upload to Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          files: |
            runlarky/target/larky-*-linux
            dist/pylarky-*.whl
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
