# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.11
      uses: actions/setup-java@v1
      with:
        java-version: 1.11
    - name: Build with Maven
      run: mvn -B verify --file pom.xml
    - name: Coveralls GitHub Action
      uses: coverallsapp/github-action@v1.1.2
      with: 
        github-token: ${{ secrets.gh_api_key }}
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v2.2.2
      with:
        # Artifact name
        # A file, directory or wildcard pattern that describes what to upload
        path: target/*.jar
        # The desired behavior if no files are found using the provided path.
        warn: Output a warning but do not fail the action
